/* General Styles */
body {
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* Header Styles */
.header {
    width: 100%;
    background-color: #000;
    padding: 50px 0;
    text-align: center;
    color: white;
}

/* Header Styles */
.header h1 {
    margin: 0;
    font-size: 2rem; /* Ukuran font besar */
    color: rgb(251, 249, 249); /* Teks berwarna putih */
    background-color: black; /* Background hitam */
    padding: 60px 60px; /* Tambahkan padding untuk memberi jarak di sekitar teks */
    border-radius: 5px; /* Opsional: Membuat sudut background lebih halus */
    text-align: center;
}


/* Form Container */
.login-container {
    background-color: #fff;
    padding: 60px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Form Group */
.form-group {
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    font-size: 10px;
    border: 1px solid #fcfbfa;
    border-radius: 5px;
    outline: none;
}

input::placeholder {
    color: #74726c;
}

input:focus {
    border-color: #74726c;
}

/* Login Button */
.login-btn {
    background-color: #ff8c00; /* Oranye */
    color: rgb(10, 10, 10);
    padding: 10px;
    width: 20%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #e07c00;
}

/* Text and Link */
p {
    font-size: 14px;
}

p a {
    color: #ffc107; /* Oranye */
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
